.nav-header {
    width: 100%;
  }
  
  .nav-header nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1rem 0;
  }
  
  .nav-header nav .logo-box {
    width: 20%;
  }
  
  .nav-header nav ul {
    display: flex;
    gap: 10px;
    /* width: 50%; */
    justify-content: space-between;
    align-items: center;
  }
  
  nav .logo-box img {
    width: 100%;
    object-fit: contain;
  }

  @media screen and (max-width: 600px) {
    .nav-header nav .logo-box {
        width: 40%;
      }
  }