
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
    --primary-color: #623d91;
    --primary-dark: #3b2557;
    --primary-light: #623d91;
    --secondary-color: #1A2C42;
    --orange-dark: #FFA500;
    --orange-color: #FFA500;
    --bg-light: #f8f8f8;
    --border-color: #D4D8DF;
    --text: #000;
    --text-light: #828282;
    --border-radius: 5px;
    --white: #fff;
    --danger: #e9261f;
    --color-white: #fff;
    --light-bg: #ECF0F5;
    --blue: #2F80ED;
    --green: #219653;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition-duration: .3s;
  list-style-type: none;
  border: none;
  outline: none;
}
body {
    /* font-family: 'Roboto', sans-serif; */
    background-color: var(--white);
}

